/*
	ColorBox Core Style:
	The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box;}

/*
	User Style:
	Change the following styles to modify the appearance of ColorBox.  They are
	ordered & tabbed in a way that represents the nesting of the generated HTML.
*/

#cboxOverlay {
	background: #000;
}

#colorbox {}

#cboxContent {
	margin-top: 50px;
}

.cboxIframe {
	background: #000;
}

#cboxError {}

#cboxLoadedContent{
	border: none;
	background: #000;
}

#cboxTitle {
	// position: absolute;
	// top: -50px;
	// left: 0;
	// color: #ccc;
	// height: 50px;
	// width: 960px;
	// // background-color: rgba(#FFF, 0.1);
	// background-color: #000;
}

#cboxCurrent {}
#cboxSlideshow {}
#cboxPrevious:hover {}
#cboxNext:hover {}

#cboxLoadingOverlay {
	background: #000;
}

#cboxLoadingGraphic {
	background: #000;
}

// #cboxClose {
//     position: absolute;
//     top: 0px;
//     right: 0px;
//     display:block;
//     background-image:url(../img/lightbox-sprite.png);
//     width: 63px;
//     height: 63px;
//     background-position: -0px -0px;
//     text-indent:-9999px;

// }
// #cboxClose:hover {
//     background-position: -84px -0px;
// }

#cboxClose {
	display: block;
	position: absolute;
	top: -50px;
	right: 0px;
	color: #FFF;
	font-family: sans-serif;
	font-size: 32px;
	font-weight: 700;
	line-height: 46px;
	width: 20px;
	padding: 0 22px 4px 22px;
}

#cboxClose:hover {
	color: #00adef;
}
